<a href="https://colab.research.google.com/github/itsmesaadali/Artificial-intelligence-Project/blob/main/Lab_Task_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# AI Lab no 4

Task 1: NumPy array split & sum

In [ ]:
import numpy as np

# Create a numpy array
arr = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9])

# Split into 3 arrays
split_arrays = np.array_split(arr, 3)

# Print arrays
print("Split Arrays:", split_arrays)

# Calculate sum of all arrays
total_sum = sum([a.sum() for a in split_arrays])
print("Total Sum:", total_sum)

Split Arrays: [array([1, 2, 3]), array([4, 5, 6]), array([7, 8, 9])]
Total Sum: 45

Task 2: Extract numbers > 5 and < 15

In [ ]:
arr = np.array([2, 5, 6, 8, 12, 15, 18, 20])

# Condition filter
filtered = arr[(arr > 5) & (arr < 15)]
print("Numbers > 5 and < 15:", filtered)

Numbers > 5 and < 15: [ 6  8 12]

Task 3: Sets operation

In [ ]:
# Create sets
set1 = {0, 2, 4, 6, 8, 10}   # Even numbers (0~10)
set2 = set(range(1, 11))     # Positive integers (1~10) using constructor

print("Set1:", set1)
print("Set2 before:", set2)

# (a) Remove 2nd and 5th element from set2
# Convert to list to remove by index
set2_list = list(set2)
set2_list.pop(1)   # Remove 2nd element
set2_list.pop(3)   # Remove 5th element (after first removal, index shifts)
set2 = set(set2_list)

print("Set2 after removal:", set2)

# (b) Intersection
set3 = set1.intersection(set2)
print("Set3 (Intersection):", set3)

Set1: {0, 2, 4, 6, 8, 10}
Set2 before: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
Set2 after removal: {1, 3, 4, 6, 7, 8, 9, 10}
Set3 (Intersection): {8, 10, 4, 6}

Task 4: Dictionary of Students

In [ ]:
# Create dictionary
students = {
    101: {"sapid": 101, "name": "Ali", "age": 20, "semester": "Six"},
    102: {"sapid": 102, "name": "Sara", "age": 21, "semester": "Six"},
    103: {"sapid": 103, "name": "Ahmed", "age": 22, "semester": "Six"},
    104: {"sapid": 104, "name": "Noor", "age": 20, "semester": "Six"},
    105: {"sapid": 105, "name": "Zara", "age": 23, "semester": "Six"},
}

print("Before Update:", students)

# Update Semester (Six -> Seven)
for s in students.values():
    if s["semester"] == "Six":
        s["semester"] = "Seven"

print("After Update:", students)

Before Update: {101: {'sapid': 101, 'name': 'Ali', 'age': 20, 'semester': 'Six'}, 102: {'sapid': 102, 'name': 'Sara', 'age': 21, 'semester': 'Six'}, 103: {'sapid': 103, 'name': 'Ahmed', 'age': 22, 'semester': 'Six'}, 104: {'sapid': 104, 'name': 'Noor', 'age': 20, 'semester': 'Six'}, 105: {'sapid': 105, 'name': 'Zara', 'age': 23, 'semester': 'Six'}}
After Update: {101: {'sapid': 101, 'name': 'Ali', 'age': 20, 'semester': 'Seven'}, 102: {'sapid': 102, 'name': 'Sara', 'age': 21, 'semester': 'Seven'}, 103: {'sapid': 103, 'name': 'Ahmed', 'age': 22, 'semester': 'Seven'}, 104: {'sapid': 104, 'name': 'Noor', 'age': 20, 'semester': 'Seven'}, 105: {'sapid': 105, 'name': 'Zara', 'age': 23, 'semester': 'Seven'}}