<a href="https://colab.research.google.com/github/itsmesaadali/Artificial-intelligence-Project/blob/main/SaadAli_56673.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# AI Lab Task 01:

**Arithmetic Operators:**

Different types of arthmetic operators like:

> Add ' + '


> Sub ' - '

> Multipy ' x '


> Division ' / '


> Midulus ' % '

In [ ]:
a = 10
b = 5

print("Addition:", a + b)
print("Subtraction:", a - b)
print("Multiplication:", a * b)
print("Division:", a / b)
print("Modulus:", a % b)

Addition: 15
Subtraction: 5
Multiplication: 50
Division: 2.0
Modulus: 0

**Assignmet Operator:**


> Equal Sign ' = '

> Add and Assign ' += '

> Sub and Assign ' -= '

> Multiply and Assign ' *= '

> Division and Assign ' /= '

> Modlus and Assign ' %= '

> Power and Assign ' **= '

In [ ]:
print('a = b: is an assignment operator')

a = b: is an assignment operator

In [ ]:
a=int(input('Enter the value: '))
a+=15
print('The lastest value of a with add 15:', a)

Enter the value: 12
The lastest value of a with add 15: 27

In [ ]:
a=int(input('Enter the value: '))
a-=15
print('The lastest value of a with sub 15:', a)

Enter the value: 12
The lastest value of a with sub 15: -3

In [ ]:
a=int(input('Enter the value: '))
a*=15
print('The lastest value of a with multiply 15:', a)

Enter the value: 12
The lastest value of a with multiply 15: 180

In [ ]:
a=int(input('Enter the value: '))
a/=15
print('The lastest value of a with division 15:', a)

Enter the value: 12
The lastest value of a with division 15: 0.8

In [ ]:
a=int(input('Enter the value: '))
a%=15
print('The lastest value of a with modlus 15:', a)

Enter the value: 12
The lastest value of a with modlus 15: 12

In [ ]:
a=int(input('Enter the value: '))
a**=15
print('The lastest value of a with power 15:', a)

Enter the value: 12
The lastest value of a with power 15: 15407021574586368

**Comparsion Operator:**



> Double Equal ' == '


> Not Equal   ' != '

> Greater Than ' > '

> Less Than ' < '



> Greater Than Equal ' >= '

> Less Than Equal ' <= '

In [ ]:
a = 10
b = 20

print("Comparison Operators:")
print("a == b :", a == b)   # False

In [ ]:
a = 10
b = 20

print("Comparison Operators:")
print("a != b :", a != b)   # True

In [ ]:
a = 10
b = 20

print("Comparison Operators:")
print("a > b  :", a > b)    # False

In [ ]:
a = 10
b = 20

print("Comparison Operators:")
print("a < b  :", a < b)    # True

In [ ]:
a = 10
b = 20

print("a >= b :", a >= b)   # False

In [ ]:
a = 10
b = 20

print("Comparison Operators:")
print("a <= b :", a <= b)   # True)

**Logical Operator:**



> And


> Or


>Not

In [ ]:
a = 10
b = 20
c = 10

print("\nLogical Operators:")
print("(a == c and b > a) :", (a == c and b > a))  # True

In [ ]:
a = 10
b = 20
c = 10

print("\nLogical Operators:")
print("(a == b or b > a)  :", (a == b or b > a))   # True

In [ ]:
a = 10
b = 20
c = 10

print("\nLogical Operators:")
print("not(a == b)        :", not(a == b))         # True